body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* -------------------part1--------------- */

.part1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;   
    
}

#username,
#yourpassword {
    width: 250px;
    border: none;
    height: 8vh;
}

#create {
    border: none;
    color: #1597bb;
    background: none;
}

.button1 {
    margin-top: 2%;
}

#back {
    background: gray;
    width: 31%;
    height: 5vh;
    border: none;
}

#next {
    background: #1597bb;
    width: 31%;
    height: 5vh;
    border: none;

}

/* -----------------part2----------------- */
.part2 {
    margin: auto;
    width: 45%;
    border: 3px solid #005792;
    padding: 10px;    
}


#logo{
    margin-left: 40%;
}

h5 {
    text-align: center;
    font-size: 30px;
}
.name,
.email,
.password {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#first-name,
#last-name,
#email,
#repeat,
#newpass,
#comfirmpass {
    width: 250px;
    height: 5vh;
}

#note1 {
    color: rgb(105, 54, 54);
    margin-left: 5%;
}

.new {
    margin-top: 5%;
    margin-left: 5%;

}
#sign-up{
    border: none;
    background: #8ab6d6;
    width: 250px;
    height: 30px;
    background: wheat;
}
#not {
    border: none;
    background: #8ab6d6;
    width: 250px;
    height: 30px;
    background: coral;
    
}

.color {
    margin-left: 5%;
}
#colors {
    width: 500px;
}
 /* -----------------part3-------------- */

.page3 {
    height: 100%;
    width: 380px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a7bbc7; 
    overflow-x: hidden;
    padding-top: 20px;
    
  }
  
  #p-mess {
     padding: 10px;
     border-radius: 50px;
     max-width: max-content;
    
}

.p1 img {
      border-radius: 50%;
}

.p1 {
    display: flex;
    margin-left: 5%;
}

h5 {
    margin-left: 5px;
    color: #3c415c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.search-container {
    margin-top: 20px;
    margin-left: 4%;
}

 #search {
     width: 330px;
     height: 35px;
     border-radius: 8px;
     border: none;
     background: #e8e8e8;
     margin-left: 2px;
 }

 #btnsearch {
    padding: 8px;
    margin-left: -10%;
 }

.button {
    display: flex;
    justify-content: space-evenly;
    
}

.page4 {
    margin: auto;
    width: 67%;
    padding: 20px; 
    margin-left: 30%;
 }

 .background {
    display: flex;
}


.button,
.send{
    cursor: pointer;
}



.lists {
    margin-left: -7%;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    padding: 8px;
}

.textname {
    background: #d37815;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#label {
    color: antiquewhite;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

.inform {
    margin-top: 5px;
    margin-left: 2%;
}
#name {
    color: #625261;
    font-size: 23px;
}

#time {
    margin-left: 85%;
}



.avatar,
#yourpic {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }



h1 {
    margin-top: -2px;
    color: #005792;
}

.background {
    display: flex;
    justify-content: space-between;
}

.sticker {
    display: flex;
}
#emoji {
    font-size:2em;
}


#underline,
#bold,
#italic {

    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    border: 3px solid #005792;
    font-weight: bolder;
    background: none;
    
}

.active {

    color: red;
    background: chocolate;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}



