body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* -------------------part1--------------- */

.part1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    
    
}

#username {
    width: 300px;
    border: none;
    height: 8vh;
}

#create {
    border: none;
    color: #1597bb;
    background: none;
}

.button1 {
    margin-top: 2%;
}

#back {
    background: gray;
    width: 20%;
    height: 5vh;
    border: none;
}

#next {
    background: #1597bb;
    width: 20%;
    height: 5vh;
    border: none;

}

/* -----------------part2----------------- */
.part2 {
    display: none;
    margin: auto;
    width: 45%;
    border: 3px solid #1597bb;
    padding: 10px;
}

.page1,
.page2 {
    background: #1597bb;
    
}
#logo{
    margin-left: 25%;
}
.input1{
    margin-top: 5%;
}
h4 {
    text-align: center;
    font-size: 30px;
}
.name,
.email,
.password {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#first-name,
#last-name,
#email,
#repeat,
#newpass,
#comfirmpas {
    width: 250px;
    height: 5vh;
}

#note1,
#note2  {
    color: rgb(105, 54, 54);
    margin-left: 5%;
}


#profile {
    margin-left: 5%;
    font-size: 30px;
}

.input2 {
    margin-left: 5%;
}


#month{
    width: 20%;
    height: 5vh;
    margin-left: 20%;    
}

#gender,
#country,
#language,
#month{
    width: 35%;
    height: 5vh;
    margin-left: 25%; 
}

#date,
#year {
    width: 10%;
    height: 4vh;
}
.new {
    margin-top: 5%;
    margin-left: 5%;
    

}
#sign-up{
    border: none;
    background: #8ab6d6;
    width: 250px;
    height: 30px;
    background: wheat;
}
#not {
    border: none;
    background: #8ab6d6;
    width: 250px;
    height: 30px;
    background: coral;
    
}
 /* -----------------part3-------------- */

 .part3 {
    margin: auto;
    width: 45%;
    border: 3px solid #1597bb;
    padding: 10px;
    display: none;
 }



#sticker,
#camera,
#enter {
    cursor: pointer;
}

.send {
    margin-top: 3%;
}

